Expired!

Renew

<div class="panel panel-default">

	<!-- HEADING -->
	<div class="panel-heading">

		<h2 class ="pull-left"><strong><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Your appointment has expired</strong></h2>

	</div>

	<div class="panel-body">
		<%= link_to new_appointment_path, class: "btn btn-md btn-success pull-left" do %> 
		<i class="glyphicon glyphicon-plus"></i>&nbsp; New Appointment
		<% end %>

	
	</div>
</div>