<h2 class="alignleft"><strong><%= step %></strong></h2>

<div style="text-align: right">
	<div style="display:inline-block"><h2><%= step_count %></h2></div>
	<div style="display:inline-block">
		<div class="progress education-progress">
			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="<%= width %>">
			</div>
		</div>
	</div>
</div>