<fieldset>
	<div class="panel panel-default sub-panel">
		<div class="inner-div-panel">
			<%= f.input :title %>
			<%= f.input :service_description, label: "Description" %>
		</div>
	</div>
</fieldset>